.env
venv
*.json
*.mp4
*.mp3
*.wav
*.avi
*.mkv
*.wmv
*.mov
*.flac
*.flp
*.png
*.jpg
*.jpeg
*.bmp
*.tiff
*.ico
*.gif
.cursorignore
*.zip
*.txt
*.txt
*.log
*.csv
*.jsonl
*.jsonl.gz
*.jsonl.bz2